---
---

* {
    box-sizing: border-box;
}

@import "reset";
@import "color";
@import "header";
@import "footer";
@import "mixin";

main {
    background-color: $color-section-background;
    height: calc(100vh - 85px);
    .container {
        width: 960px;
        margin: 0 auto;
    }
}

body {
    // background-color: blue;
}