---
---

* {
    box-sizing: border-box;
}

@import "reset";
@import "color";
@import "header";
@import "footer";
@import "mixin";

section {
    background-color: $color-section-background;
    .container {
        width: 960px;
        margin: 0 auto;
    }
}

body {
    background-color: yellow;
}