<header>
    <div class="container">
        <nav>
            <ul>
                <li ><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/' %} current {% endif %}">最新消息</a></li>
                <li><a href="{{site.baseurl}}/admin.html" class="{% if page.url == '/admin.html' %} current {% endif %}">行政</a></li>
                <li><a href="{{site.baseurl}}/agenda.html" class="{% if page.url == '/agenda.html' %} current {% endif %}">議程</a></li>
                <li><a href="{{site.baseurl}}/place.html" class="{% if page.url == '/place.html' %} current {% endif %}">場地</a></li>
                <li><a href="{{site.baseurl}}/sponsor.html" class="{% if page.url == '/sponsor.html' %} current {% endif %}">贊助</a></li>
            </ul>
        </nav>
    </div>
</header>