$color-header-background: gray;
$color-header-li: white;
$color-header-li-hover-background: #444;
$color-header-a-current-background: black;
$color-footer-background: black;
$color-footer: white;
$color-section-background: rgba(250, 250, 250, 0.7);