<!DOCTYPE html>
<html lang="zh-tw">
    <head>
        <meta charset="UTF-8">
        <title>conference.tw</title>
        <link rel="stylesheet" href="favicon.ico">

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

        {% if page.url == '/' %}
            {% include linkStyleTagInHead.html styleFileName='index.css' %}
        {% elsif page.url == '/admin.html' %}
            {% include linkStyleTagInHead.html styleFileName='admin.css' %}
        {% elsif page.url == '/agenda.html' %}
            {% include linkStyleTagInHead.html styleFileName='agenda.css' %}
        {% elsif page.url == '/place.html' %}
            {% include linkStyleTagInHead.html styleFileName='place.css' %}
        {% elsif page.url == '/sponsor.html' %}
            {% include linkStyleTagInHead.html styleFileName='sponsor.css' %}
        {% endif %}

    </head>
    <body>

        {% include header.html %}    

        <main>
            <div class="container">
                    {{ content }}
            </div>
        </main>

        {% include footer.html %}

    </body>
</html>